* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    background: linear-gradient(to top, #ccffff, #ffff99);  
    min-height: 100vh;
    
    
}


.header {
     /* width: 100%; */
    background-color: #1D316E; 
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo-circle {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
}
.logo-circle img{
    width:60px;
    height: 60px;
    border-radius:50%;
}

.header-content h1 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    font-family:'poppins';
    /* margin-right: 65rem; */
}

.header-content h2 {
    font-size: 2rem;
    font-weight: 700;
    /* margin-right: 63.5rem; */
}

.header-logo {
    width: 60px;
}

/* Navigation Bar */
nav {
    background-color: #4da4cf;
    display: flex;
    padding: 10px;
    justify-content:flex-end;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 40px;
}

nav a:hover {
    text-decoration: underline;
}

/* Table Section */
.container {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 90%;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    padding-top: 20px;
    padding-right: 20px;
}
.addevent {
background-color: #4da4cf;
color: white;
width: 100px;
height: 30px;
border-radius: 10px;



}
.addevent a{
    text-decoration: none;
    color: white;
}
.table-title {
    text-align: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
   
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #eaeaea;
}

tbody tr {
    background-color: #f9f9f9;
}