* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to top, #ccffff, #ffff99); 
    text-align: center;
    height:120vh;
    
}
.header {
    background-color: #1D316E; 
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo-circle {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
}
.logo-circle img{
    width:60px;
    height: 60px;
    border-radius:50%;
}

.header-content h1 {
    font-size: 1.5rem;
    font-weight: 400;
    font-family:'poppins';
    /* margin-right: 65rem; */
}

.header-content h2 {
    font-size: 2rem;
    font-weight: 700;
    /* margin-right: 63.5rem; */
}

.header-logo {
    width: 60px;
}

        .container {
            max-width: 600px;
            margin: 40px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        .container h2 {
            text-align: center;
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: bold;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .form-group label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            text-align: start;
        }
        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
        }
        .submit-button {
            display: block;
            width: 150px;
            background-color: #4a90e2;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            text-align: center;
            margin-left: 200px;

        }
        .submit-button:hover {
            background-color: #357ab8;
        }
     